/*NavBar styling*/
.nav-bar{
  background-color: #A82431; /*A82431 darker red, F9F4F5 off white*/
}
 .nav-bar button {
  background-color: #D43545;
  border: none;
 }
 .nav-bar button:hover {
  background-color: #F9F4F5;
  color: black;
 }

 /*Header styling*/
 .header{
  background-color: #D43545;
  color: #F9F4F5;
  display: flex;
  justify-content: center;
  position: relative;
 }

 .header button{
  background-color: #A82431;
  border: 2px solid #D43545;
  color: #F9F4F5;
 }

 .header button:hover {
  background-color: #F9F4F5;
  border: 2px solid #A82431;
  color: black;
 }

 .header-container{
  width: 100%;
  max-width: 1320px;
  margin: 20px 0px 100px 0px;
  
 }

 .header-container.list-mode{
  margin: 20px 0px 0px 0px;
 }

 .header-list button{
  display: flex;
  align-items: center;
 }

.header-list button svg {
  margin-right: 5px;
}

.header-list{
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
 }

 .headerDesc{
  margin: 20px 0px;
 }

 /*Header Search styling*/
 .headerSearch{
  height: 50px;
  background-color: white;
  border: 3px solid #A82431;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1320px;
 }

 .headerIcon{
  color: grey;
 }

 .headerSearchItem{
  display: flex;
  align-items: center;
  gap: 10px;
 }

 .headerSearchInput{
  border: none;
  outline: none;
 }

 .headerSearchText{
  color: lightgray;
  cursor: pointer;
 }

 /*React-date-range stlying*/
 .date{
  position: absolute;
  top: 50px;
  z-index: 2;
 }

 .date button{
  color: black;
  background-color: white;
  border: none;
 }

 .date button:hover{
  border: none;
 }

 .options{
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4);
  z-index: 2;
 }

 .optionItem{
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
 }

 .optionCounter{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
 }

 .optionCounterButton{
   width: 30px;
   height: 30px;
   border: 2px solid white;
   border-radius: 6px;
 }

 .optionCounterButton:disabled{
  cursor: not-allowed;
 }

 /*Home Container styling*/
 .homeContainer{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
 }

 .homeTitle{
  width: 1320px;
  font-size: 20px;
  font-weight: bold;
 }

 /*Featured styling*/
 .featured{
  width: 100%;
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
 }

 .featuredItem{
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
 }

.featuredImg{
  width: 100%;
  object-fit: cover;
}

.featuredTitles{
  position: absolute;
  bottom: 20px;
  left: 20px;
}

 .featured button{
  background-color: #D43545;
  border: none;
 }

 .featured button:hover{
  background-color: #A82431;   
  color: white;
 }

 /*PropertList styling*/
 .propertyList{
  width: 100%;
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
 }

 .propertyListItem{
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
 }

 .propertyListImg{
  width: 100%;
  height: 150px;
  object-fit: cover;
 }

 .propertyListTitles>h1{
  font-size: 18px;
  text-transform: capitalize;
 }

 .propertyListTitles>h2{
  font-size: 14px;
  font-weight: 300;
 }

 .placeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}

.placeDetails {
  display: flex;
  flex-direction: column;
}

.card-text.t{
  margin-bottom: 4px;
  color: #6c757d;
}

.placePrice {
  display: flex;
  justify-content: space-between;
}

 /*Mail styling*/
 .mail{
  width: 100%;
  margin-top: 50px;
  background-color: #A82431;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
 }

 .mailInputContainer>input{
  width: 300px;
  height: 40px;
  padding: 10px;
  border: none;
  margin-right: 10px;
  border-radius: 20px;
 }

 .mailInputContainer>button{
  height: 40px;
  background-color: #D43545;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 }

 /*Footer styling*/
 .footer{
  height: 40px;
  background-color: #F9F4F5;
 }

 .footerContainer{
  width: 100%;
 }

 .footerTitle{
  font-size: 14px;
  color: black;
  display: flex;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
 }

 .footerItems{
  margin: 0;
 }

 .footerItems button{
  background-color: transparent;
  border: none;
  color: black;
  text-decoration: underline;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  font-size: 14px;
  padding: 0%;
 }

 .footerItems button:hover{
  background-color: transparent;
  color: black;
  text-decoration: underline;
 }

 /*TODO : Filter Modal styling*/
 .filterItems{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  
 }

 /*List styling*/
.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1320px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: #A82431;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 120px;
  height: max-content;
}    

.lsTitle{
  font-size: 20px;
  color: #F9F4F5;
  margin-bottom: 10px;
}

.lsItem{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem>label{
  font-size: 12px;
  color: #F9F4F5;
}

.lsItem>input{
  height: 30px;
  border: none;
  padding: 5px;
}
.lsItem>span{
  height: 30px;
  padding: 5px;
  background-color: #F9F4F5;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions{
  padding: 10px;
}

.lsOptionItem{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #F9F4F5;
  font-size: 12px;
}

.lsOptionInput{
  width: 50px;
}

.listSearch>button{
  padding: 10px;
  background-color: #F9F4F5;
  color: black;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  border-radius: 20px;
}

.listResult {
  flex: 3;
}

/*Search Item styling*/
.searchItem {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.siImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.siDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 2;
}

.siTitle {
  font-size: 20px;
  color: #353535;
}

.siDistance {
  font-size: 12px;
}

.siTaxiOp {
  font-size: 12px;
  background-color: #008009;
  color: white;
  width: max-content;
  padding: 3px;
  border-radius: 5px;
}

.siSubtitle{
  font-size: 12px;
  font-weight: bold;
}

.siFeatures{
  font-size: 12px;
}

.siCancelOp{
  font-size: 12px;
  color: #008009;
  font-weight: bold;
}

.siCancelOpSubtitle{
  font-size: 12px;
  color: #008009;
}

.siDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.siRating{
  display: flex;
  justify-content: space-between
}

.siRating>span{
  font-weight: 500;
}
.siRating>button{
 background-color: #A82431;
 color: white;
 padding: 5px;
 font-weight: bold;
 border: none;
}

.siDetailTexts{
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.siPrice{
  font-size: 24px;
}

.siTaxOp{
  font-size: 12px;
  color: gray;
}

.siCheckButton{
  background-color: #D43545;
  color: white;
  font-weight: bold;
  padding: 10px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/*Show page of places styling*/
.hotelContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.hotelWrapper{
  width: 100%;
  max-width: 1320px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.bookNow{
  position: absolute;
  top: 10px;
  right: 0;
  border: none;
  background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  background-size: 300% auto;
}

.bookNow:hover{
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.hotelTitle{
  font-size: 24px;
}

.hotelDistance{
  color: #0071c2;
  font-weight: 500;
}

.hotelPriceHighLight{
  color: #008009;
  font-weight: 500;
}

.hotelAddress{
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hotelImages{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotelImageWrapper{
  width: 33%;
  margin-bottom: 10px;
}

.hotelImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.hotelDetails{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.hotelDetailsTexts{
  flex: 3;
}

.hotelDesc{
  font-size: 14px;
  margin-top: 20px;
}

.hotelDetailsPrice{
  flex: 1;
  display: flex;
  padding: 20px;
  background-color: white; /*#e2acb2*/
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  margin-bottom: 60px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.111);
  border: 1px solid rgba(0, 0, 0, 0.159);
}

.hotelDetailsPrice>h1{
  font-size: 18px;
  color: #555;
}

.hotelDetailsPrice>span{
  font-size: 14px;
}

.hotelDetailsPrice>h2{
  font-weight: 300;
}

.hotelDetailsPrice>button{
  background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%);
  margin: 10px;
  padding: 10px; /*15px 45px*/
  text-align: center;
  transition: 0.5s;
  background-size: 300% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
}

.hotelDetailsPrice>button:hover{
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.light-grey-line{
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.544);
  margin: 60px;
}

/*Image slider styling*/
.slider{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.308);
  z-index: 999;
  display: flex;
  align-items: center;
}

.sliderWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImg{
  width: 70%;
  height: 70%;
  border-radius: 20px;
}

.closeImg{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}
.arrowImg{
  cursor: pointer;
  font-size: 40px;
  margin: 20px;
  user-select: none;
}

/*Category slider styling*/
.categories{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.cat-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
}

.swiper-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-container a{
  color: rgba(0, 0, 0, 0.593);
  text-decoration: none;
}

.swiper-container a:hover{
  color: black;
}

.swiper-button-next{
  user-select: none;
  font-size: 26px;
  cursor: pointer;
}

.swiper-button-prev{
  user-select: none;
  font-size: 26px;
  cursor: pointer;
}

.categories .cat-container span {
  margin-bottom: 4px;
  position: relative;
}

.categories .cat-container span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.categories .cat-container:hover span::after {
  transform: scaleX(1);
}

.catArrow{
  cursor: pointer;
  font-size: 30px;
  user-select: none;
}

.categories>button{
  background-color: #A82431;
  border: 1px solid #A82431;
  margin-left: 20px;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.categories>button:hover{
  background-color: white;
  color: black;
  border: 1px solid #A82431;
}

/*Show page reviews styling*/
.reviews-container{
  padding-left: 50px;
}

/* .reviews-container>button{
  background-color: transparent;
  color: black;
  border: solid 1px black;
  margin-left: 80px;
  margin-bottom: 80px;
}

.reviews-container>button:hover{
  background-color: rgba(224, 224, 224, 0.364);
  border: solid 1px black;
  color: black;
} */

.reviewBtns{
  display: flex;
  justify-content: space-between;
}

.reviewBtns>button{
  background-color: transparent;
  color: black;
  border: solid 1px black;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 80px;
}

.reviewBtns>button:hover{
  background-color: rgba(224, 224, 224, 0.364);
  border: solid 1px black;
  color: black;
}

.reviews-title{
  display: flex;
  align-items: center;
  padding-left: 80px;
  margin-bottom: 25px;
  gap: 20px;
  font-size: 18px;
}

.reviews-title>h1{
  font-size: 28px;
}

.reviews {
  /* display: flex;
  flex-direction: column;
  padding: 0 80px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 80px;
}

.review {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.review img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.review-content {
  flex-grow: 1;
}

/*ReviewsModal styling*/
.modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.reviews-modal-title{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.reviews-modal-title>h1{
  font-size: 30px;
}

/*Star Rating styling*/
.star-rating input[type="radio"]{
  display: none;
}

/*Login/Logout styling*/
.login-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-container>input{
  width: 100%;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 10px;
}

.login-btn{
  background-color: #D31027;
}

.logged-in{
  display: flex;
  gap: 10px;
}

/*Reserve styling*/

.reserve {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rContainer {
  background-color: white;
  padding: 20px;
  position: relative;
  border-radius: 20px;
}

.rClose {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin: 20px;
  font-size: 25px;
}

.rItem{
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.rInfo{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rTitle{
  font-weight: 500;
}

.rDesc{
  font-weight: 300;
}

.rMax{
  font-size: 12px;
}

.rPrice{
  font-weight: 500;
}

.rButton{
  border: none;
  padding: 10px 20px;
  background-color: #D31027;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}

.rSelectRooms{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 12px;
  color: gray;
}

.room{
  display: flex;
  flex-direction: column;
}

/*Places Skeleton*/
.places-skel{
  display: flex;
  flex-wrap: wrap;
}